<div class="form-group">   

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<% if resource.errors.any? %>
	<div class="alert alert-danger alert-dismissable" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>

		<ul>
		<% resource.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :email, class: "control-label label-certa" %>*<br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "your@email.com" %>
	</div>

	<div class="field">
		<%= f.label :password, class: "control-label label-certa" %>*
		<% if @minimum_password_length %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
		<% end %><br />
		<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation, class: "control-label label-certa" %>*<br />
		<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "confirm password" %>
	</div>

	<div class="field">
		<%= f.label :name , class: "control-label label-certa" %>*<br />
		<%= f.text_field :name, autocomplete: "off", class: "form-control", placeholder: "your name" %>
	</div>
	<% if !@user.cpf.blank? %>
	<div class="field">
		<%= f.label :current_password, class: "control-label label-certa"   %><i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "current password"%>
	</div>
	<% end %>
	
	<div class="field">
		<%= f.label :cpf , class: "control-label label-certa" %>*<br />
		<%= f.text_field :cpf, autocomplete: "off", class: "form-control cpf", placeholder: "123.456.789-10", :data => {:mask => "000.000.000-00"}%>
	</div>

	<div class="field">
		<%= f.label :bio , class: "control-label label-certa" %><br />
		<%= f.text_area :bio, autocomplete: "off", class: "form-control" , placeholder: "Your Bio." %>
	</div>
	<br/>

	<div class="actions">
		<%= f.submit "Confirm", class: "btn btn-primary btn-block" %>
	</div>
	<% end %>
</div>