<div class="center container-fluid">
  <div class="col-md-12">
    <div class="form-group">
      <h2>Edit</h2>
      <%= render :partial => "devise/registrations/form_user"%>
      <div class="col-md-8" >
        <h3>Cancel my account</h3>

        Unhappy?
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },  method: :delete,  class: "btn btn-danger"%>

        <br/>
      </div>

</div>
</div>