<% if users.nil? %>
<div class="alert alert-warning" role="alert">You dont have any users.</div>
<% else %>

<div class="row">

  <div class="text-center col-md-2">
    <b>Email</b>
  </div>
  <div class="text-center col-md-2">
    <b>Name</b>      
  </div>
  <div class="text-center col-md-2">
    <b>CPF</b> 
  </div>
  <div class="text-center col-md-2">
    <b>Profile</b> 
  </div>
  <div class="text-center col-md-4">
    <b>Commands</b>
  </div>
</div>  
<hr>
<% users.each do |user| %>

<div class="row">
  <p class="text-center col-md-2">
    <%= user.email %>
  </p>
  <p class="text-center col-md-2">
    <%= user.name %>
  </p>
  <p class="text-center col-md-2">
    <%= cpf_mask(user.cpf) %>
  </p>
  <p class="text-center col-md-2">
    <% if user.isAdmin? %>
    Owner
    <% else %>
    Organizer
    <%  end %>
  </p>
  <% if user.invitation_token.nil? %>
  <p class="col-md-4">
    <% if user.profile == 2 %>
    <%= link_to "Promote", invite_User_path(user), class: "btn btn-success btn-block" %>
    <% else %>
    <%= link_to "Demote", invite_User_path(user), class: "btn btn-primary btn-block" %>
    <% end %>
    <%= link_to "Remover", user_path(user), class:"btn btn-danger btn-block" %>
  </p>
  <% else %>

  <p class="col-md-4">
    <%= link_to "Re-send invite", invite_User_path(user), class: "btn btn-warning btn-block" %>
    <%= link_to "Remover", user_path(user), class:"btn btn-danger btn-block" %>
  </p>
  <% end%>
<!--
  <p class="col-md-2">
    <%#= image_tag(event.image_url(:thumb).to_s, :class => "img-thumbnail img-responsive") %>
  </div>
-->
</div>
  <hr>

<% end %>
<% end %>

