<div class="page-header">

	<h1>Show User Events</h1>

	<b><%= current_user.name%></b>
</div>
<div class="col-md-10">
	
	<p><b>Upcomming events</b></p>	
	<%= render :partial => "events/list_events", locals: { events: current_user.events }%>
</div>
<div class="col-md-2">
	<h3 class="text-center">Filters </h3>
	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action">Recent</a>
		<a href="#" class="list-group-item list-group-item-action">Today</a>
		<a href="#" class="list-group-item list-group-item-action">This Week</a>
		<a href="#" class="list-group-item list-group-item-action">This Month</a>
		<%# https://getbootstrap.com/docs/4.0/components/list-group/ %>
	</br>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Categories
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">Music</a></li>
			<li><a href="#">Theather</a></li>
			<li><a href="#">Cinema</a></li>
			<li><a href="#">Congress</a></li>
		</ul>
	</div>
</div> 
</div> 
<div class="col-md-10">
	<p><b>Past events</b></p>	
	<%= render :partial => "events/list_events", locals: { events: current_user.events }%>
</div>




