<div class="container">
   <div class="container-fluid center">
      <div class="form-group col-md-12">
         <h2>Change your password</h2>
         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
         <% if resource.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>

                <ul>
                <% resource.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
         <%= f.hidden_field :reset_password_token %>
         <div class="field">
            <%= f.label :password, "New password*", class: "control-label label-certa"  %><br />
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
         </div>
         <div class="field">
            <%= f.label :password_confirmation, "Confirm new password*", class: "control-label label-certa"  %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" , placeholder: "New Password" %>
         </div>
         <br/>
         <div class="actions">
            <%= f.submit "Change my password", class: "btn btn-success btn-block" %>
         </div>
         <% end %>
         <%= render "devise/shared/links" %>
      </div>
   </div>
</div>
