<div class="container">
   <div class="container-fluid center">
<div class="form-group col-md-12">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>

        <ul>
        <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, class: "control-label" %>*<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"email@email.com" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
</div>
</div>
</div>