<%= form_for(@event, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if @event.errors.any? %>

<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-md-4">
  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :title, class: "text-left label-certa" %>*
      <%= f.text_field :title, class: "form-control", required: true, placeholder: "Event's Title" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :contact, class: "text-left label-certa" %>*

      <%= f.text_field :contact, class: "form-control", :data => {:mask => "(00)0000-0000"}, placeholder: "(00)0000-0000" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :category, class: "text-left label-certa" %>*
      <%= f.collection_select :category_id, @categories, :id, :name, {}, class: "form-control", required: true%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :description, class: "text-left label-certa"%>*
    <%= f.text_area :description, class: "form-control", 
    required: true, :rows => "10" , placeholder: "Event's description" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :dt_start, class: "text-left label-certa" %>
      <div class='input-group date' id='datetimepicker1'>
        <%= f.text_field :dt_start, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label :dt_end, class: "text-left label-certa" %>
      <div class='input-group date' id='datetimepicker2'>
        <%= f.text_field :dt_end, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
    <%= f.label "Image", class: "text-left label-certa" %>
      <%= f.file_field :image, onchange: "readURL(this)"%>
    </div>
  </div>

  <%= render :partial => "addresses/form"%>
  <br/>
  
</div>

<div class="col-md-8">
  <div class="thumbnail">
    <%= image_tag(@event.image_url.to_s, id: "img_prev", class:"img-responsive", onerror: "this.scr='public/uploads/event/image/default.png'") %>
  </div>

<% if !@event.id.blank?%>
<%= render :partial => "prices/index", locals: { prices: @event.prices} %>
<% end %>
<!--
  <div>
    <%= f.submit class: "btn btn-success btn-block", :name => "btnconfirm" %>
  </div>-->
  <% end %>
</div>



