	

	<% if events.empty? %>

	<div class="alert alert-warning" role="alert">You dont have any events, please create one.</div>
	<% else %>

	<div class="row">

		<div class="text-center col-md-2">
		<b>Image</b>
		</div>
		<div class="text-center col-md-2">
        <b>Title</b>			
		</div>
		<div class="text-center col-md-2">
		<b>Data Start</b>	
		</div>
		<div class="text-center col-md-2">
		<b>Data End</b>	
		</div>
		<div class="text-center col-md-1">
		<b>Category</b>
		</div>
		<div class="text-center col-md-3">
			<b>Commands</b>
		</div>
	</div>	
	<hr>
	<% events.each do |event| %>
	
	<div class="row">

		<div class="col-md-2">
			<%= image_tag(event.image_url(:thumb).to_s, :class => "img-thumbnail img-responsive") %>
		</div>
		<div class="text-center col-md-2">
			<%= event.title %>
		</div>
		<div class="text-center col-md-2">
			<%= event.dt_start.strftime("%d of %B %R") %>
		</div>
		<div class="text-center col-md-2">
			<%= event.dt_end.strftime("%d of %B %R") %>
		</div>
		<div class="text-center col-md-1">
			<%= event.category.name %>
		</div>
		<div class="btn-group-vertical col-md-3">
			<%= link_to 'Show', event, :class => 'btn btn-primary' %>

			<%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-primary' %>

			<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
		</div>
	</div>
	<hr>

	<% end %>
	<% end %>
