

<% events.each do |event| %>
<div class="col-md-4">
 <div class="thumbnail">
  <div class="caption">
    <%= image_tag(event.image_url, :class => "img-rounded img-responsive") %>
    <h4 class="text-center">
      <%= event.title %>
    </h4>
    <p class="text-center">
      Start: 
      <%= event.dt_start.strftime("%R %d/%B")%>
    </p>
    <p>
      <%= link_to 'See details', event, class: 'btn btn-default btn-block' %>
    </p>
  </div>
</div>
</div>

<% end %>
