<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Imagem </th>
        <th>Title</th>
        <th>Descripiton</th>
        <th>Contact</th>
        <th>dt_start</th>
        <th>dt_end</th>
        <th>category</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% events.each do |event| %>
      <tr>
        <td><%= image_tag(event.image, :class => "img-thumbnail img-responsive") %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.contact %></td>
        <td><%= event.dt_start %></td>
        <td><%= event.dt_end %></td>
        <td><%= event.category %></td>
        <td><%= link_to 'Show', event, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>