<!--
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Imagem </th>
        <th>Title</th>
        <th>Descripiton</th>
        <th>Contact</th>
        <th>dt_start</th>
        <th>dt_end</th>
        <th>category</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% events.each do |event| %>
      <tr>
        <td><%= image_tag(event.image_url(:thumb).to_s) %>%></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.contact %></td>
        <td><%= event.dt_start %></td>
        <td><%= event.dt_end %></td>
        <td><%= event.category %></td>
        <td><%= link_to 'Show', event, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
-->

<% if events.empty? %>

<div class="alert alert-warning" role="alert">You dont have any events, please subscribe in one.</div>
<% else %>
<% events.each do |event| %>
<% case event.category.id when 1 %>
<div class="music well">
<% when 2 %>
<div class="theater well">
<% when 3 %>
<div class="cinema well">
<% when 4 %>
<div class="gastronomy well">
<% when 5 %>
<div class="architecture well">
<% when 6 %>
<div class="dance well">
<% when 7 %>
<div class="visual well">
<% when 8 %>
<div class="education well">
<% when 9 %>
<div class="congress well">
<% else %>
<div class="well">  
<% end %>



<div class="row">
  <div class="col-md-4">
    <%= image_tag(event.image, :class => "img-thumbnail img-responsive") %>
  </div>
<div class="col-md-6">
  <h2><b><%= event.title%></b></h2>
  <i><%= event.address.street%></i>

<br/><br/><br/><br/>

      <h4 class="pull-right">Category: <%= event.category.name%></h4>
  <dd><b>Premium:</b>R$ 30,00</dd>
  <dd><b>Comum:</b>R$ 15,00</dd>
</div>
<div clas="col-md-2 pull-right">

      Data start:
      <br/>
      <%= event.dt_start.strftime("%a, %d of %b %R")%>
      <br/>

      Data end:
<br/>
      <%= event.dt_end.strftime("%a, %d of %b %R")%>

  <br/>
  <br/>     <br/><br/>
      <%= link_to 'See details', event, class: 'btn btn-primary btn-lg' %>
</div>
</div>
</div>
<% end %>
<% end %>