<div class="container">
  <div class="jumbotron fundo-com-gif">
    <h1>CulturaWeb</h1> 
    <p>Encontre os melhores eventos perto de você.</p>
  </div>

  <div class="page-header">

  </div>
  <div class="col-md-10">
   <%= render :partial => "events/list_events", locals: { events: @events }%>
 </div>
 <div class="col-md-2">
  <h3 class="text-center">Filters </h3>
  <div class="list-group">
    <%= link_to "Recent", events_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Today", events_path(time: "Today"), class: "list-group-item list-group-item-action" %>
    <%= link_to "This Week", events_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "This Month", events_path, class: "list-group-item list-group-item-action" %>
  </br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Categories
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Music</a></li>
      <li><a href="#">Theather</a></li>
      <li><a href="#">Cinema</a></li>
      <li><a href="#">Congress</a></li>
    </ul>
  </div>
</div>
</div>
