
    <div class="page-header">
    <% if user_signed_in? %>
    <% if @event.company_id == current_user.company_id%>
      <%= link_to edit_event_path(@event), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
      <% end %>
    <% end %>
      <% if Subscribe.find_by(event_id: @event, user_id: current_user).nil? %>
      <%#= @event.has_subscribe?(@event, current_user) %>
          <%= link_to event_subscribe_path(@event), class: 'btn btn-success' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Subscribe
          <% end %>
      <% else %>
          <%= link_to event_unsubscribe_path(@event), class: 'btn btn-warning' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Unubscribe
          <% end %>
      <% end %>
    <% end %>
      
      <h1><%= @event.title%></h1>
    </div>

    <div class="well col-md-10 col-md-offset-1">

      <%= image_tag(@event.image_url.to_s, class:"img-responsive") %>
      <br/>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <h2>Description:</h2>
      <dd><%= @event.description %></dd>
    </div>

    <div class="well col-md-3">
      <dt>Imagem:</dt>

      <dd><%= image_tag(google_map(center: @event.address.full_address), class:"img-responsive") %></dd>
      <%#=image_tag google_map(center: @event.address.full_address)%>
        <b>Address:</b><br/><%= @event.address.street %><br/><br/>
        <b>Company: </b><br/> <%= @event.company.name %><br/><br/>
        <b>Contact: </b><br/> <%= @event.contact %><br/><br/>
        <b>Category:</b><br/> <%= @event.category.name %><br/><br/>
        <b>Dt start:</b><br/> <%= @event.dt_start.strftime("%a, %d of %b %R") %><br/><br/>
        <b>Dt end:</b><br/> <%= @event.dt_end.strftime("%a, %d of %b %R")  %><br/><br/>
        <b>Price:</b><br/><br/>
        <table class="table table-striped table-hover">
          <% @prices.each do |p| %>
          <tr>
            <td>
              <strong><%= p.title %></strong> 
            </td>
            <td>
              <%= p.price %>
            </td>
          </tr>
          <% end %>
        </table>
      </h4>
    </div>

    <div class="col-md-10 col-md-offset-1">
       <%= render :partial => "events/list_events_tumbnail", locals: { events: @nearEvents }%>
