<%= form_for(@company, html: { class: "form-horizontal col-md-6", role: "form" }) do |f| %>
<% if @company.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>

  <ul>
    <% @company.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">  
  <%= f.label :name, class: "col-md-2 control-label" %> 
  <div class="col-sm-12">
    <%= f.text_field :name, class: "form-control", placeholder: "Company name"%>
  </div>
</div>

<div class="form-group">
  <%= f.label :cnpj, class: "col-md-2 control-label" %>
  <div class="col-sm-12">
    <%= f.text_field :cnpj, class: "form-control",placeholder: "00.000.000/0000-00", :data => {:mask => "00.000.000/0000-00" }%>
  </div>
</div>

<%= f.hidden_field :id, class:"form-control"%>

<%= render :partial => "addresses/form"%>

<!--
<div class="form-group col-md-3 col-md-offset-3">
    <%= f.submit class: "btn btn-success" %>
</div>
-->
<% end %>

