<div class="page-header">
  <%= link_to @company, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing company</h1>
</div>
<div class="col-md-offset-4">
	<%= render 'form' %>
</div>

