<div class="page-header">
  <%= link_to new_company_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Company
  <% end %>
  <h1>Listing companies</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Cnpj</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
      <tr>
       <td><%= company.name %></td>
       <td><%= company.address %></td>
       <td><%= company.cnpj %></td>
       <td><%= link_to 'Show', company, :class => 'btn btn-default' %></td>
       <td><%= link_to 'Edit', edit_company_path(company), :class => 'btn btn-default' %></td>
       <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
     </tr>
   </tbody>
 </table>

 <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Descripiton</th>
        <th>Contact</th>
        <th>dt_start</th>
        <th>dt_end</th>
        <th>category</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
      <tr>
       <td><%= event.title %></td>
       <td><%= event.description %></td>
       <td><%= event.contact %></td>
       <td><%= event.dt_start %></td>
       <td><%= event.dt_end %></td>
       <td><%= event.category %></td>
       <td><%= link_to 'Show', event, :class => 'btn btn-default' %></td>
       <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-default' %></td>
       <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
     </tr>
   </tbody>
 </table>
</div>
