<div class="page-header">
  <% if current_user.profile > 2 %>
  <%= link_to company_path(@company), method: :DELETE, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Deletar Company
  <% end %>
  <%= link_to edit_company_path(@company), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit Company
  <% end %>
  <%= link_to new_user_invitation_path, remote: true, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Invite new user
  <% end %>
  <% end %>
  <%= link_to new_event_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  New Event
  <% end %>
  <h1>Show company</h1>
</div>

<dl class="row row-horizontal col-md-2">
  <dt>Name:</dt>
  <dd><%= @company.name %></dd>

  <dt>Address:</dt>
  <%if @company.cnpj.nil? %>
  <dt>Cnpj:</dt>
  <dd><%= @company.cnpj %></dd>
  <% end %>  
  <dd><%= @company.address.street %></dd>
  <br/>
  <dd><%= image_tag(google_map(center: @company.address.full_address), class:"img-responsive") %></dd>
</dl>

<div class="col-md-10">
  <% if current_user.profile == 3%>
  <%= tabs do |c| %>
    
  <% c.tab 'Eventos' do %>
  <div class="well">
  <div>
    <%= render :partial => "events/list_events_manage", locals: { events: @events }%>
  </div>
  </div>
  <% end %>
  <% c.tab 'Usuarios' do %>
  <div>
    <div class="well">  
    <%= render :partial => "users/list_company_users", locals: { users: @companyUsers }%>
  </div>
  </div>
  <% end %>
  <% end %>
</div>

<% else %>
<%= render :partial => "events/list_events_manage", locals: { events: @events }%>

<% end %>
