<div class="container-fluid center">
  <div class="col-md-12">
    <h2>Log in</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-row">

      <div class="form-group">      

        <div class="field">
          <%= f.label :email, class: "label-certa" %>*<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "your@email.com" %>
        </div>

        <div class="field">      
          <%= f.label :password, class: "label-certa"  %>*<br />      
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>        
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Log in", :class => "btn btn-primary btn-block" %>
        </div>
        <% end %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      <br/>
      </div>
    </div>

  </div>
</div>
