<div id="contact-modal" class="modal fade ">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@price, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="modal-body">
        <% if @price.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h4>

          <ul>
            <% @price.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :price, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <%= f.hidden_field :event_id, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>