<div class="page-header">
  <%= link_to new_price_path(event_id: @event.id), remote: true, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  New Price
  <% end %>
  <h1>Listing prices</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        
        <th class="col-md-2"> Commands</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% prices.each do | price | %>
        <td class="text-center"><%= price.title %></td>
        <td class="text-center"><%= price.price %></td>
        <td class="btn-group-vertical col-md-2">
          <%= link_to 'Edit', edit_price_path(price),  remote: true, class:"btn btn-warning" %>
          <%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          
        </td>
        <tr>
          <% end %>
        </tbody>
      </table>
    </div>
