<div class="page-header">
  <%= link_to prices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New price</h1>
</div>
  

<%= render 'form' %>

