<%= form_for(@address, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if @address.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h4>

  <ul>
    <% @address.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :street, class: "col-sm-2 text-left" %>
  <div class="col-sm-12">
    <%= f.text_field :street, class: "form-control", placeholder:"Julio Zandoná 335" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :city, class: "col-sm-2 text-left" %>
  <div class="col-sm-12">
    <%= f.text_field :city, class: "form-control", placeholder:"Curitiba" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :zip, class: "col-sm-6 text-left" %>
  <%= f.label :state, class: "col-sm-6 text-left" %>
  <div class="col-sm-6">
    <%= f.text_field :zip, class: "form-control",placeholder:"81720-240" %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :state, class: "form-control",placeholder:"Paraná" %>
  </div>
</div>
<div class="form-group">
</div>


<div class="form-group">
    <%= f.submit "Submit", class: "btn btn-success btn-block", :name=> "Create"%>
    <%= f.hidden_field :latitude, class: "form-control" %>
    <%= f.hidden_field :longitude, class: "form-control" %>
</div>
<% end %>
