<div class="page-header">
  <%= link_to new_address_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Address
  <% end %>
  <h1>Listing addresses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>State</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= singular_table_name.each %> do | address| %>
                <td><%= address.street %></td>
                <td><%= address.city %></td>
                <td><%= address.zip %></td>
                <td><%= address.state %></td>
                <td><%= address.latitude %></td>
                <td><%= address.longitude %></td>
                <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <tr>
    </tbody>
  </table>
</div>
