<div class="page-header">
  <%= link_to addresses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_address_path(@address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show address</h1>
</div>

<dl class="dl-horizontal">
  <dt>Street:</dt>
  <dd><%= @address.street %></dd>

  <dt>City:</dt>
  <dd><%= @address.city %></dd>

  <dt>Zip:</dt>
  <dd><%= @address.zip %></dd>

  <dt>State:</dt>
  <dd><%= @address.state %></dd>

  <dt>Latitude:</dt>
  <dd><%= @address.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @address.longitude %></dd>

</dl>
