/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

@import "_bootstrap_custom";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


/* max-width  */
@media screen and (max-width: 600px) {
	.center {
		width: 80%;
		display: flex;
		align-items: center;
		background-color: #eee;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;  /* Fallback for browsers do NOT support vh unit */
        margin-top: 10vh; /* These two lines are counted as one :-)       */
    }
}

/* min-width */
@media screen and (min-width: 600px) {
	.center {
		width: 50%;
		display: flex;
		margin-top: 10%;  /* Fallback for browsers do NOT support vh unit */
        margin-top: 10vh; /* These two lines are counted as one :-)       */
        background-color: #eee;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

.input-w-icon{
	padding-left:30px;
}

.icon-input{
	position: absolute;
	padding-top: 5px;
	padding-left: 5px;	
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.img-event-title{
  color: white;
  background-color: black;
}
.fundo-com-gif {
  text-align: center !important;
  font-size: 1.5rem !important;
  color: white !important;
  background: url(asset_path("bg-gif.gif"));
  background-size: cover;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cor-principal {
  background-color:  #770800 !important;
  color: white !important;
}
.borda {
  border: 1px solid #ccc!important;
  border-radius: 4px!important;
  margin: 0.2em;
  height:100% 
}
.label-certa {
  margin-bottom: 0px !important;
}
@media screen and (min-width: 600px) {
  .cpf {
    width: 30%;
  }
}
//1
.music{
  border-left: 0.7em solid rgb(97, 13, 13);
}
//2
.theater{
  border-left: 0.7em solid rgb(13, 97, 13);
}
//3
.cinema{
  border-left: 0.7em solid rgb(13, 13, 97);
}
//4
.gastronomy{
  border-left: 0.7em solid rgb(39, 39, 252);
}
//5
.architecture{
  border-left: 0.7em solid rgb(252, 213, 39);
}
//6
.dance{
  border-left: 0.7em solid rgb(252, 39, 170);
}
//7
.visual{
  border-left: 0.7em solid rgb(91, 23, 170);  
}
//8
.education{
  border-left: 0.7em solid rgb(50, 50, 50);  
}
//9
.congress{
  border-left: 0.7em solid rgb(97, 89, 16);

}