<div id="contact-modal" class="modal fade ">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
			<div class="modal-body">
			<h2><%= t "devise.invitations.new.header" %></h2>
				<% if resource.errors.any? %>
				<div class="alert alert-danger alert-dismissable" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>

					<ul>
						<% resource.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
				<% end %>

				<% resource.class.invite_key_fields.each do |field| -%>

				<div class="field">
					<%= f.label field, class: "control-label label-certa" %>*	
					<%= f.text_field field, autocomplete: "off", class: "form-control" , placeholder: "email@email.com" %>
				</div>

				<div class="field">
					<%= f.label :name , class: "control-label label-certa" %>*<br />
					<%= f.text_field :name, autocomplete: "off", class: "form-control" , placeholder: "Your Name" %>
				</div>

				<div class="field">
					<%= f.label :cpf , class: "control-label label-certa" %>*<br />
					<%= f.text_field :cpf, autocomplete: "off", class: "form-control", :data => {:mask => "000.000.000-00"} , placeholder: "000.000.000-00" %>
				</div>
				<% end %>
				<br/>
				<div class="modal-footer">
					<p><%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary btn-block" %></p>
				</div>
				<% end %>
			</div>
		</div>
	</div>



<!-- 

<div class="container">
	<div class="container-fluid center">
		<div class="form-group col-md-12">
			<h2><%= t "devise.invitations.new.header" %></h2>

			<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>

			<% if resource.errors.any? %>
			<div class="alert alert-danger alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>

				<ul>
					<% resource.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<% resource.class.invite_key_fields.each do |field| -%>

			<div class="field">
				<%= f.label field, class: "control-label label-certa" %>*	
				<%= f.text_field field, autocomplete: "off", class: "form-control" , placeholder: "email@email.com" %>
			</div>

			<div class="field">
				<%= f.label :name , class: "control-label label-certa" %>*<br />
				<%= f.text_field :name, autocomplete: "off", class: "form-control" , placeholder: "Your Name" %>
			</div>

			<div class="field">
				<%= f.label :cpf , class: "control-label label-certa" %>*<br />
				<%= f.text_field :cpf, autocomplete: "off", class: "form-control", :data => {:mask => "000.000.000-00"} , placeholder: "000.000.000-00" %>
			</div>
			<% end %>
			<br/>
			<p><%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary btn-block" %></p>
			<% end %>
		</div>
	</div>
</div>
-->