

<div class="container">
   <div class="container-fluid center">
      <div class="form-group col-md-12">
         <h2><%= t 'devise.invitations.edit.header' %></h2>
         <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
         <% if resource.errors.any? %>
         <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>
            <ul>
               <% resource.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
               <% end %>
            </ul>
         </div>
         <% end %>
         <%= f.hidden_field :invitation_token, readonly: true %>
         
         <% if f.object.class.require_password_on_accepting %>
          <p><%= f.label :password, class: "control-label label-certa" %>*<br />
              <%= f.password_field :password, class: "form-control" , placeholder: "Your Password" %>
          </p>
          <p><%= f.label :password_confirmation, class: "control-label label-certa" %>*<br />
              <%= f.password_field :password_confirmation, class: "form-control" , placeholder: "Your Password" %>
          </p>
         <% end %>
         <p><%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary btn-block" %></p>
         <% end %>
      </div>
   </div>
</div>

