

<p class="navbar-text"> Logged in as <strong><%= current_user.email %></strong></p>
<li><%= link_to "My Calendar", users_path, :class => "navbar-link"%></li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
  aria-expanded="false">Menu<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <% if current_user.profile == 1 %>
    <li> <%= link_to 'New Company', new_company_path, :class => 'dropdown-item' %> </li>
    <% end %>
    <% if current_user.profile > 1 %>
    <li> <%= link_to 'New Event',  new_event_path, :class => 'dropdown-item' %></li>
    <!-- Dropdown Menu-->
    <li> <%= link_to 'Show Company', company_path(current_user.company_id), :class => 'dropdown-item' %> </li> 
    <% end %>
    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %> </li> 
    <li role="separator" class="divider"></li>
    <li><%= link_to "Logout", destroy_user_session_path, :method => 'get', :class => 'dropdown-item'  %></li>
</ul>