
<%= form_tag events_path, method: :get, class: '' do %>
 <div class="row">
  <div class="col-lg-10">
    <div class="input-group">
      <%= text_field_tag :q, @search_query, placeholder: 'Event Name', class:'form-control' %>
      <span class="input-group-btn">
        <!--<button class="btn btn-default" type="button">Search</button>-->
      	<%= submit_tag "Search", class: "btn btn-default" %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
<!--
<%= form_tag events_path, method: :get, class: 'input-group' do %>
<%= text_field_tag :q, @search_query, placeholder: 'Search', class:'form-control' %>
<span class="input-group-btn">
  <%= submit_tag 'Search', class:'btn btn-default'%>
</span>
<% end %>
-->
