<html>
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CulturaWeb</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= csrf_meta_tags %>

  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-colapse cor-principal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Cultura Web", root_path, class: "navbar-brand" %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-expand" aria-expanded="false">Expandir</button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu-expand">
        <div class="col-md-4">
            <form class="navbar-form navbar-left" role="search">
              <%= render 'layouts/search_navbar'%>
            </form>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <%= render 'layouts/navbar_dropdown_user' %>       
              <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= msg %>
      <% end %>
      <% end %>

      <%= yield %>

    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </html>
